<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BotBits" version="211.4.3" targetFramework="net40" />
  <package id="EEPhysics" version="1.4.3.1" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="10.1.4" targetFramework="net40" />
  <package id="PlayerIOClient-Signed" version="3.2.483" targetFramework="net40" />
</packages>