<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BotBits" version="218.0.3" targetFramework="net40" />
  <package id="EEPhysics" version="1.4.4.5" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="10.1.4" targetFramework="net40" />
  <package id="PlayerIOClient-Signed" version="3.2.484" targetFramework="net40" />
</packages>